/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/*ol,ul {
    list-style: none;
}
*/
/* end of reset */

body {
    background-color: rgb(178, 204, 210);
    height: 100%;
    font-size:  1.5rem;
    font-family: 'Rubik', sans-serif;
    color: black;
}

h1 {
    color: black;
    font-size:  2rem!important;
}

.progress {
    background-color: #a4b9ce!important;
    margin-top: 0.5rem!important;
    height: 2rem;
}

.progress_tobe {
    margin-top: 0.2rem!important;
    margin-bottom: 0.5rem!important;
    height: 0.5rem;
    height: 0.5rem;
}



/*style for widget target description */

.widget_descr {
   height: 5rem;
   margin-bottom:0.5rem;
   width:100%;
}

.iconinfo, .icons a{
color: #a4b9ce;
}

.icons {
text-align: right;
}

.tracking{
padding: 0rem 2rem;

}

.grey {
color: grey;
}

.iconinfo {}

.navbar-nav {
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;}