{% extends "base.html" %}
{% load staticfiles %}


{% block title %} Вход {% endblock %}


{% block content %}
<br><br>
<div class="container">
  <div class="row">

<div class="col"></div>

    <div class="col-md-6 col-sm-12">

      <div class="jumbotron">
<center>
  <h1 class="display-4">Track your progress</h1>
  <p class="lead"> Ставьте цели и отслеживайте их</p>
  <hr class="my-4">
  <p> Вперед к совершенству</p>
    </center>
  <a href="/progress/login" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Вход</a>
<a href="/progress/register" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Регистрация</a>

</div>
    </div>
<div class="col"></div>
  </div>

</div>


{% endblock %}

