{% extends "base.html" %}
{% block title %} Вход {% endblock %}

{% block content %}

<br><br>
<div class="container">
    <div class="row">

        <div class="col"></div>

        <div class="col-md-6 col-sm-12">

            <div class="jumbotron">
                <center>
                    <h1 class="display-4">Track your progress</h1>
                    <p class="lead"> Ставьте цели и отслеживайте их</p>
                    <hr class="my-4">
                    <p> Вперед к совершенству</p>
                </center>

                <form id="login_form" method="post" action="/progress/login/">
                    {% csrf_token %}
                    <div class="form-group">

                        <input type="text" class="form-control" id="inputusername" name="username"
                               placeholder="Введите логин ">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                               placeholder="Ведите пароль">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Вход</button>
                    <a href="/progress/register" class="btn btn-secondary btn-lg btn-block" role="button"
                       aria-pressed="true">Регистрация</a>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>





{%endblock%}