{% extends 'base.html' %}
{% block title %}Забыли пароль?{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col"></div>

        <div class="col-md-6 col-sm-12">

            <div class="jumbotron">
                <center>
                    <h1 class="display-4"> Забыли пароль? </h1>
                    <p class="lead"> ввведите адрес электронной почты, на которую будет отправлена инстукция по восстановлению пароля</p>
                    <hr class="my-4">
                </center>

                <form id="" method="post" action="" role="form" class="form-horizontal">
                    {% csrf_token %}

    {{ form.as_p }}
                    <br>
      <input type="submit" name="submit" class="btn btn-primary btn-lg btn-block"
                           value="Восстановить пароль"/>
  </form>

            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{%endblock%}