{% extends 'base.html' %}
{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col"></div>

        <div class="col-md-6 col-sm-12">

            <div class="jumbotron">
                <center>
                    <h1 class="display-4"> Проверьте почту </h1>

                    <hr class="my-4">
                </center>
                <p class="lead"> Вам отправлено письмо с инструкцией.<br>
                    Проверьте почтовый ящик.</p>
                   <br>
                <strong>Если Вы не получили письмо:</strong>
                <ul>
                    <li> убедитесь, что вы правильно ввели электронный адрес </li>
                    <li>проверьте папку "спам"</li>
                </ul>

            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{%endblock%}