{% extends 'base.html' %}

{% block title %}Измененеие пароля{% endblock %}

{% block content %}
<!--<h1>Установите новый пароль!</h1>-->

<!--<form method="POST">-->
  <!--{% csrf_token %}-->
  <!--{{ form.as_p }}-->
  <!--<input type="submit" value="Изменить пароль">-->
<!--</form>-->

<div class="container">
    <div class="row">

        <div class="col"></div>

        <div class="col-md-6 col-sm-12">

            {% if validlink %}

            <div class="jumbotron">
                <center>
                    <h1 class="display-4"> Изменить пароль </h1>

                    <hr class="my-4">

                  <form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
                  <br>
   <input type="submit" name="submit" class="btn btn-primary btn-lg btn-block"
                           value="Изменить пароль"/>
</form>

                    {% else %}
 <p>
      Ссылка на воссановление пароля не сработала, возможно потому, что уже использовала.
      Пожалуйста, запросите восстановление пароля повторно.
      <a href="password_reset" class="">Восстановить пароль</a>

    </p>
                    {%endif%}
                </center>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}