{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="row">

        <div class="col"></div>

        <div class="col-md-6 col-sm-12">

            <div class="jumbotron">
                <center>
                    <h1 class="display-4"> Пароль усрешно изменен </h1>
                    <hr class="my-4">
                     <a href="/progress" class="btn  btn-success btn-lg btn-block" role="button" aria-pressed="true"> Вход </a>

                </center>


            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


{% endblock %}